{
    "securityServer": {
        "port": "8081",
        "hostname": "http://10.0.2.2",
        "paths": {
            "token": "/access_token",
            "preferences": "/add-preferences?view=%view"
        }
    },
    "authentication": {
        "grant_type": "client_credentials",
        "scope": "add_preferences",
        "client_id": "client_id_first_discovery",
        "client_secret": "client_secret_first_discovery"
    }
}
